.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.hprof
.gradle/
build/
gradlew.bat
local.properties
.idea/
*.iml
.class
R.java
.dex
.apk
*.iml
gradlew
gradle/
gradle.properties
app/app-release.apk
*.apk
changelog.txt
*.log
release.jks