<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.lastmilehealth.kiosk">

    <application
        android:name="org.lastmilehealth.kiosk.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.lastmilehealth.kiosk.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.lastmilehealth.kiosk.AppPreferences"
            android:label="Settings"
            android:theme="@style/Theme.AppCompat.Light.Preference">

        </activity>
        <activity android:name="org.lastmilehealth.kiosk.AppChooserActivity"></activity>
        <activity android:name="org.lastmilehealth.kiosk.AppOrderActivity"></activity>

        <receiver android:name="org.lastmilehealth.kiosk.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name="org.lastmilehealth.kiosk.KioskService"
            android:enabled="true"
            android:exported="false"
            android:permission="" />

        <activity
            android:name="org.lastmilehealth.kiosk.FakeLauncherActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.lastmilehealth.kiosk.DeviceListActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>
        <receiver android:name=".KioskAdminReceiver"
            android:label="@string/app_name"
            android:description="@string/palm_kiosk_v2"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <activity android:name="org.lastmilehealth.kiosk.BluetoothActivity"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0cb53df0f23cfc642005c8d3ce1cd283ebcc0b9e" />
    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
</manifest>
